{% extends 'whonet/base.html' %}

{% block title %}
ARSP-DMU | ARSEN | Whonet Transform
{% endblock title %}


{% block breadcrumb %}
    <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Transform</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'whonet_landing' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Transform Data</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
{% endblock breadcrumb %}



{% block content %}
  <div class="row">
    <div class="col-md-7 col-lg-7 col-xlg-7 mx-auto">
        <div class="card">
           <div class="card-body">
               <h4 class="card-title">Yearly Transform Data</h4>
               <div class="row">

               
                   
               <div class="col-md-8">
                <form method="POST" action="{% url 'whonet_transform_year' %}" >
                    {% csrf_token %}
                <div class="form-group row">
                    <label class="col-md-2 m-t-15">Sentinel Site</label>
                    <div class="col-md-8">
                        <select id="sentinel_site" onchange="sentiChange()" name="sentinel_site" class="select2 form-control custom-select" style="width: 100%; height:36px;" required>
                            <option> </option>
                           
                                {% for fnames in f_names  %}
                                <option value="{{ fnames }}">{{ fnames }}</option>
                                {% endfor %}
                           
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-15">Year</label>
                    <div class="col-md-8">
                        <select id="yearGet" name="year" class="select2 form-control custom-select" style="width: 100%; height:36px;" required>
                            <option> </option>
                            <!-- {% for yr in year  %}
                            <option value="{{ yr }}">{{ yr }}</option>
                            {% endfor %} -->
                           
                        </select>
                    </div>
                </div>
               </div>
               <div class="row mx-auto">
                   <div class="col-md-4">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Origin" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing1{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing1{{ fnames.id }}">Origin</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Diagnosis"  name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing2{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing2{{ fnames.id }}">Diagnosis</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Location" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing3{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing3{{ fnames.id }}">Location</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Specimen" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing4{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing4{{ fnames.id }}">Specimen</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Nosocomial" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing5{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing5{{ fnames.id }}">Nosocomial</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Sex" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing178{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing178{{ fnames.id }}">Sex</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="pat_type" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing179{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing179{{ fnames.id }}">Patient Type</label>
                    </div>
                   </div>
                   <div class="col-md-4">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="MRSA" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing6{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing6{{ fnames.id }}">MRSA</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="SPN" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing7{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing7{{ fnames.id }}">SPN</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="X_REFERRED" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing8{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing8{{ fnames.id }}">X_REFERRED</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="NE_NM" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing9{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing9{{ fnames.id }}">NE -> NM</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="CORRECT_YEAR" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing10{{ fnames.id }}">
                        <label class="custom-control-label" for="customControlAutosizing10{{ fnames.id }}">CORRECT YEAR</label>
                    </div>
                   </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="PATIENT_ID" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing11{{ fnames.id }}">
                            <label class="custom-control-label" for="customControlAutosizing11{{ fnames.id }}">PATIENT ID</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="DUPLICATES" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing12{{ fnames.id }}">
                            <label class="custom-control-label" for="customControlAutosizing12{{ fnames.id }}">DUPLICATES</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="ESCR" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing13{{ fnames.id }}">
                            <label class="custom-control-label" for="customControlAutosizing13{{ fnames.id }}">ESCR</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="CARBAPENEM" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing14{{ fnames.id }}">
                            <label class="custom-control-label" for="customControlAutosizing14{{ fnames.id }}">CARBAPENEM</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="HLAR" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing15{{ fnames.id }}">
                            <label class="custom-control-label" for="customControlAutosizing15{{ fnames.id }}">HLAR</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="HLARB" name="options" type="checkbox" class="custom-control-input checkbox-checked" id="customControlAutosizing16{{ fnames.id }}">
                            <label class="custom-control-label" for="customControlAutosizing16{{ fnames.id }}">HLARB</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="" name="options" type="checkbox" class="custom-control-input" id="select-all">
                            <label class="custom-control-label" for="select-all">Select All</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <button id="id_submit{{ fnames.id }}" type="submit" class="btn btn-success btn-block m-t-15">Transform <i id="submit_loading{{ fnames.id }}"  class="fas fa-cog  "></i></button>
            </form>
             
           </div>
        </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-7 col-lg-7 col-xlg-7 mx-auto">
        <div class="card">
           <div class="card-body">
               <h4 class="card-title">Yearly Transform Data</h4>
               <div class="row">

               
                   
               <div class="col-md-8">
                <form method="POST" action="{% url 'whonet_transform_year_all' %}" id="form_year">
                    {% csrf_token %}
                <input type="hidden" name="sentinel_site" id="site">
                <div class="form-group row">
                    <label class="col-md-2 m-t-15">Year</label>
                    <div class="col-md-8">
                        <select id="yearGetReferred" name="year" class="select2 form-control custom-select" style="width: 100%; height:36px;" required>
                            <option> </option>
                            {% for yr in year_all  %}
                            <option value="{{ yr }}">{{ yr }}</option>
                            {% endfor %}
                           
                        </select>
                    </div>
                </div>
               </div>
               <div class="col-md-4">Sentinel Site Processed  <b>0/26</b> </div>
               <div class="row mx-auto">
                   <div class="col-md-4">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Origin" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing1 ">
                        <label class="custom-control-label" for="customControlAutosizing1 ">Origin</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Diagnosis"  name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing2 ">
                        <label class="custom-control-label" for="customControlAutosizing2 ">Diagnosis</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Location" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing3 ">
                        <label class="custom-control-label" for="customControlAutosizing3 ">Location</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Specimen" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing4 ">
                        <label class="custom-control-label" for="customControlAutosizing4 ">Specimen</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Nosocomial" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing5 ">
                        <label class="custom-control-label" for="customControlAutosizing5 ">Nosocomial</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="Sex" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing178 ">
                        <label class="custom-control-label" for="customControlAutosizing178 ">Sex</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="pat_type" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing179 ">
                        <label class="custom-control-label" for="customControlAutosizing179 ">Patient Type</label>
                    </div>
                   </div>
                   <div class="col-md-4">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="MRSA" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing6 ">
                        <label class="custom-control-label" for="customControlAutosizing6 ">MRSA</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="SPN" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing7 ">
                        <label class="custom-control-label" for="customControlAutosizing7 ">SPN</label>
                    </div>
                    <!-- <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="X_REFERRED" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing8">
                        <label class="custom-control-label" for="customControlAutosizing8 ">X_REFERRED</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="NE_NM" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing9 ">
                        <label class="custom-control-label" for="customControlAutosizing9 ">NE -> NM</label>
                    </div> -->
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input value="CORRECT_YEAR" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing10 ">
                        <label class="custom-control-label" for="customControlAutosizing10 ">CORRECT YEAR</label>
                    </div>
                   </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="PATIENT_ID" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing11 ">
                            <label class="custom-control-label" for="customControlAutosizing11 ">PATIENT ID</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="DUPLICATES" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing12 ">
                            <label class="custom-control-label" for="customControlAutosizing12 ">DUPLICATES</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="ESCR" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing13 ">
                            <label class="custom-control-label" for="customControlAutosizing13 ">ESCR</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="CARBAPENEM" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing14 ">
                            <label class="custom-control-label" for="customControlAutosizing14 ">CARBAPENEM</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="HLAR" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing15 ">
                            <label class="custom-control-label" for="customControlAutosizing15 ">HLAR</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="HLARB" name="options" type="checkbox" class="custom-control-input checkbox-checked-referred" id="customControlAutosizing16">
                            <label class="custom-control-label" for="customControlAutosizing16 ">HLARB</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input value="" name="options" type="checkbox" class="custom-control-input" id="select-all-referred">
                            <label class="custom-control-label" for="select-all-referred">Select All</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block m-t-15">Transform <i id="submit_loading{{ fnames.id }}"  class="fas fa-cog"></i></button>
            </form>
             
           </div>
        </div>
    </div>
  </div>
                      
{% endblock content %}

